@font-face {
  font-family: 'Bahnschrift';
  src: url('../fonts/bahnschrift.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: 'Bahnschrift', sans-serif;
    margin: 0;
    padding: 0;
}

.line{    
    width: 100%;
    height: 1px;
    background-color: #000;
  }

@import 'blocks/header';
@import 'blocks/introduction';
@import 'blocks/top-sales';
@import 'blocks/map';
@import 'blocks/reviews';
@import 'blocks/about';
@import 'blocks/contribution';
@import 'blocks/team';