.contribution {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 16px;
  box-sizing: border-box;

  &__title {
    font-family: 'Bahnschrift';
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #000;
    line-height: 1.3;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
  }

  &__img img {
    width: 380px;
    height: 380px;
    display: block;
    //margin: 0 auto;
    margin-left: 130px;
  }

  &__text {
    width: 500px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 350;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;


  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px auto 0 auto;
    width: 400px;
    height: 60px;
    background: #00953B;
    border: none;
    border-radius: 15px;
    font-family: 'Bahnschrift';
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: #007a39;
    }
  }
}

